<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution</title>
</head>

<body>
<div></div>
    <h1>Solution</h1>
    <table border="1" id="table" class="my-listing">
        {% if ch == 1 %}
            <tr id="tdata">
                <th >x</th>
                <th>y</th>
                <th>x<sup>2</sup></th>
                <th>xy</th>
            </tr>
        {% elif ch == 2 %}
        <tr>
            <th>x</th>
            <th>y</th>
            <th>x<sup>2</sup></th>
            <th>x<sup>3</sup></th>
            <th>x<sup>4</sup></th>
            <th>xy</th>
            <th>x<sup>2</sup>y</th>
        </tr>
        {% elif ch == 3 %}
        <tr>
            <th>x</th>
            <th>y</th>
            <th>Y</th>
            <th>x<sup>2</sup></th>
            <th>xy</th>
        </tr>
        {% endif %}
        {% for s in tab %}
        <tr>
            {% for k in s %}
            <td align="center" id="tdata">{{k}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <h3 id="sol">{{value_of_a}}</h3>
    <h3 id="sol">{{value_of_b}}</h3>
    <h3 id="sol">{{value_of_c}}</h3>
    <h3 id="sol">{{eqn}} </h3>
</body>

</html>
